html {
    scroll-behavior: smooth;
}

/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #10B981; /* Tailwind green-500 */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #059669; /* Tailwind green-600 */
}
